.iti {
    position: relative;
    display: inline-block;
    width: 100%;
}

.iti * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.iti__hide {
    display: none;
}

.iti__v-hide {
    visibility: hidden;
}

.iti input, .iti input[type=tel], .iti input[type=text] {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-right: 36px;
    margin-right: 0;
}

.iti__flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px 0 0 3px;
}

.iti__selected-flag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 6px 0 8px;
    border-radius: 3px 0 0 3px;
}

.iti__arrow {
    margin-left: 6px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #555;
}

.iti__arrow--up {
    border-top: none;
    border-bottom: 4px solid #555;
}

.iti__country-list {
    position: absolute;
    z-index: 5;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.iti__country-list--dropup {
    bottom: 100%;
    margin-bottom: -1px;
}

.iti__flag-box {
    display: inline-block;
    width: 20px;
}

.iti__divider {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #CCC;
}

.iti__country {
    padding: 5px 10px;
    outline: none;
}

.iti__dial-code {
    color: #999;
}

.iti__country.iti__highlight {
    background-color: rgba(0, 0, 0, 0.05);
}

.iti__flag-container:hover .iti__selected-flag {
    background-color: rgba(0, 0, 0, 0.05);
}

.iti__flag {
    width: 20px;
    height: 15px;
    box-shadow: 0px 0px 1px 0px #888;
    background-image: url("../img/flags.png");
    background-repeat: no-repeat;
    background-color: #DBDBDB;
    background-position: 20px 0;
}

.iti__flag.iti__ac {
    background-position: 0 0;
}

.iti__flag.iti__ad {
    background-position: -22px 0;
}

.iti__flag.iti__ae {
    background-position: -44px 0;
}

.iti__flag.iti__af {
    background-position: -66px 0;
}

.iti__flag.iti__ag {
    background-position: -88px 0;
}

.iti__flag.iti__ai {
    background-position: -110px 0;
}

.iti__flag.iti__al {
    background-position: -132px 0;
}

.iti__flag.iti__am {
    background-position: -154px 0;
}

.iti__flag.iti__ao {
    background-position: -176px 0;
}

.iti__flag.iti__aq {
    background-position: -198px 0;
}

.iti__flag.iti__ar {
    background-position: -220px 0;
}

.iti__flag.iti__as {
    background-position: -242px 0;
}

.iti__flag.iti__at {
    background-position: -264px 0;
}

.iti__flag.iti__au {
    background-position: -286px 0;
}

.iti__flag.iti__aw {
    background-position: -308px 0;
}

.iti__flag.iti__ax {
    background-position: -330px 0;
}

.iti__flag.iti__az {
    background-position: -352px 0;
}

.iti__flag.iti__ba {
    background-position: -374px 0;
}

.iti__flag.iti__bb {
    background-position: -396px 0;
}

.iti__flag.iti__bd {
    background-position: -418px 0;
}

.iti__flag.iti__be {
    background-position: -440px 0;
}

.iti__flag.iti__bf {
    background-position: -462px 0;
}

.iti__flag.iti__bg {
    background-position: -484px 0;
}

.iti__flag.iti__bh {
    background-position: -506px 0;
}

.iti__flag.iti__bi {
    background-position: -528px 0;
}

.iti__flag.iti__bj {
    background-position: -550px 0;
}

.iti__flag.iti__bl {
    background-position: -572px 0;
}

.iti__flag.iti__bm {
    background-position: -594px 0;
}

.iti__flag.iti__bn {
    background-position: -616px 0;
}

.iti__flag.iti__bo {
    background-position: -638px 0;
}

.iti__flag.iti__bq {
    background-position: -660px 0;
}

.iti__flag.iti__br {
    background-position: -682px 0;
}

.iti__flag.iti__bs {
    background-position: -704px 0;
}

.iti__flag.iti__bt {
    background-position: -726px 0;
}

.iti__flag.iti__bv {
    background-position: -748px 0;
}

.iti__flag.iti__bw {
    background-position: -770px 0;
}

.iti__flag.iti__by {
    background-position: -792px 0;
}

.iti__flag.iti__bz {
    background-position: -814px 0;
}

.iti__flag.iti__ca {
    background-position: -836px 0;
}

.iti__flag.iti__cc {
    background-position: -858px 0;
}

.iti__flag.iti__cd {
    background-position: -880px 0;
}

.iti__flag.iti__cf {
    background-position: -902px 0;
}

.iti__flag.iti__cg {
    background-position: -924px 0;
}

.iti__flag.iti__ch {
    background-position: -946px 0;
}

.iti__flag.iti__ci {
    background-position: -968px 0;
}

.iti__flag.iti__ck {
    background-position: -990px 0;
}

.iti__flag.iti__cl {
    background-position: -1012px 0;
}

.iti__flag.iti__cm {
    background-position: -1034px 0;
}

.iti__flag.iti__cn {
    background-position: -1056px 0;
}

.iti__flag.iti__co {
    background-position: -1078px 0;
}

.iti__flag.iti__cp {
    background-position: -1100px 0;
}

.iti__flag.iti__cr {
    background-position: -1122px 0;
}

.iti__flag.iti__cu {
    background-position: -1144px 0;
}

.iti__flag.iti__cv {
    background-position: -1166px 0;
}

.iti__flag.iti__cw {
    background-position: -1188px 0;
}

.iti__flag.iti__cx {
    background-position: -1210px 0;
}

.iti__flag.iti__cy {
    background-position: -1232px 0;
}

.iti__flag.iti__cz {
    background-position: -1254px 0;
}

.iti__flag.iti__de {
    background-position: -1276px 0;
}

.iti__flag.iti__dg {
    background-position: -1298px 0;
}

.iti__flag.iti__dj {
    background-position: -1320px 0;
}

.iti__flag.iti__dk {
    background-position: -1342px 0;
}

.iti__flag.iti__dm {
    background-position: -1364px 0;
}

.iti__flag.iti__do {
    background-position: -1386px 0;
}

.iti__flag.iti__dz {
    background-position: -1408px 0;
}

.iti__flag.iti__ea {
    background-position: -1430px 0;
}

.iti__flag.iti__ec {
    background-position: -1452px 0;
}

.iti__flag.iti__ee {
    background-position: -1474px 0;
}

.iti__flag.iti__eg {
    background-position: -1496px 0;
}

.iti__flag.iti__eh {
    background-position: -1518px 0;
}

.iti__flag.iti__er {
    background-position: -1540px 0;
}

.iti__flag.iti__es {
    background-position: -1562px 0;
}

.iti__flag.iti__et {
    background-position: -1584px 0;
}

.iti__flag.iti__eu {
    background-position: -1606px 0;
}

.iti__flag.iti__fi {
    background-position: -1628px 0;
}

.iti__flag.iti__fj {
    background-position: -1650px 0;
}

.iti__flag.iti__fk {
    background-position: -1672px 0;
}

.iti__flag.iti__fm {
    background-position: -1694px 0;
}

.iti__flag.iti__fo {
    background-position: -1716px 0;
}

.iti__flag.iti__fr {
    background-position: -1738px 0;
}

.iti__flag.iti__ga {
    background-position: -1760px 0;
}

.iti__flag.iti__gd {
    background-position: -1782px 0;
}

.iti__flag.iti__ge {
    background-position: -1804px 0;
}

.iti__flag.iti__gf {
    background-position: -1826px 0;
}

.iti__flag.iti__gg {
    background-position: -1848px 0;
}

.iti__flag.iti__gh {
    background-position: -1870px 0;
}

.iti__flag.iti__gi {
    background-position: -1892px 0;
}

.iti__flag.iti__gl {
    background-position: -1914px 0;
}

.iti__flag.iti__gm {
    background-position: -1936px 0;
}

.iti__flag.iti__gn {
    background-position: -1958px 0;
}

.iti__flag.iti__gp {
    background-position: -1980px 0;
}

.iti__flag.iti__gq {
    background-position: -2002px 0;
}

.iti__flag.iti__gr {
    background-position: -2024px 0;
}

.iti__flag.iti__gs {
    background-position: -2046px 0;
}

.iti__flag.iti__gt {
    background-position: -2068px 0;
}

.iti__flag.iti__gu {
    background-position: -2090px 0;
}

.iti__flag.iti__gw {
    background-position: -2112px 0;
}

.iti__flag.iti__gy {
    background-position: -2134px 0;
}

.iti__flag.iti__hk {
    background-position: -2156px 0;
}

.iti__flag.iti__hm {
    background-position: -2178px 0;
}

.iti__flag.iti__hn {
    background-position: -2200px 0;
}

.iti__flag.iti__hr {
    background-position: -2222px 0;
}

.iti__flag.iti__ht {
    background-position: -2244px 0;
}

.iti__flag.iti__hu {
    background-position: -2266px 0;
}

.iti__flag.iti__ic {
    background-position: -2288px 0;
}

.iti__flag.iti__id {
    background-position: -2310px 0;
}

.iti__flag.iti__ie {
    background-position: -2332px 0;
}

.iti__flag.iti__il {
    background-position: -2354px 0;
}

.iti__flag.iti__im {
    background-position: -2376px 0;
}

.iti__flag.iti__in {
    background-position: -2398px 0;
}

.iti__flag.iti__io {
    background-position: -2420px 0;
}

.iti__flag.iti__iq {
    background-position: -2442px 0;
}

.iti__flag.iti__ir {
    background-position: -2464px 0;
}

.iti__flag.iti__is {
    background-position: -2486px 0;
}

.iti__flag.iti__it {
    background-position: -2508px 0;
}

.iti__flag.iti__je {
    background-position: -2530px 0;
}

.iti__flag.iti__jm {
    background-position: -2552px 0;
}

.iti__flag.iti__jo {
    background-position: -2574px 0;
}

.iti__flag.iti__jp {
    background-position: -2596px 0;
}

.iti__flag.iti__ke {
    background-position: -2618px 0;
}

.iti__flag.iti__kg {
    background-position: -2640px 0;
}

.iti__flag.iti__kh {
    background-position: -2662px 0;
}

.iti__flag.iti__ki {
    background-position: -2684px 0;
}

.iti__flag.iti__km {
    background-position: -2706px 0;
}

.iti__flag.iti__kn {
    background-position: -2728px 0;
}

.iti__flag.iti__kp {
    background-position: -2750px 0;
}

.iti__flag.iti__kr {
    background-position: -2772px 0;
}

.iti__flag.iti__kw {
    background-position: -2794px 0;
}

.iti__flag.iti__ky {
    background-position: -2816px 0;
}

.iti__flag.iti__kz {
    background-position: -2838px 0;
}

.iti__flag.iti__la {
    background-position: -2860px 0;
}

.iti__flag.iti__lb {
    background-position: -2882px 0;
}

.iti__flag.iti__lc {
    background-position: -2904px 0;
}

.iti__flag.iti__li {
    background-position: -2926px 0;
}

.iti__flag.iti__lk {
    background-position: -2948px 0;
}

.iti__flag.iti__lr {
    background-position: -2970px 0;
}

.iti__flag.iti__ls {
    background-position: -2992px 0;
}

.iti__flag.iti__lt {
    background-position: -3014px 0;
}

.iti__flag.iti__lu {
    background-position: -3036px 0;
}

.iti__flag.iti__lv {
    background-position: -3058px 0;
}

.iti__flag.iti__ly {
    background-position: -3080px 0;
}

.iti__flag.iti__ma {
    background-position: -3102px 0;
}

.iti__flag.iti__mc {
    background-position: -3124px 0;
}

.iti__flag.iti__md {
    background-position: -3146px 0;
}

.iti__flag.iti__me {
    background-position: -3168px 0;
}

.iti__flag.iti__mf {
    background-position: -3190px 0;
}

.iti__flag.iti__mg {
    background-position: -3212px 0;
}

.iti__flag.iti__mh {
    background-position: -3234px 0;
}

.iti__flag.iti__mk {
    background-position: -3256px 0;
}

.iti__flag.iti__ml {
    background-position: -3278px 0;
}

.iti__flag.iti__mm {
    background-position: -3300px 0;
}

.iti__flag.iti__mn {
    background-position: -3322px 0;
}

.iti__flag.iti__mo {
    background-position: -3344px 0;
}

.iti__flag.iti__mp {
    background-position: -3366px 0;
}

.iti__flag.iti__mq {
    background-position: -3388px 0;
}

.iti__flag.iti__mr {
    background-position: -3410px 0;
}

.iti__flag.iti__ms {
    background-position: -3432px 0;
}

.iti__flag.iti__mt {
    background-position: -3454px 0;
}

.iti__flag.iti__mu {
    background-position: -3476px 0;
}

.iti__flag.iti__mv {
    background-position: -3498px 0;
}

.iti__flag.iti__mw {
    background-position: -3520px 0;
}

.iti__flag.iti__mx {
    background-position: -3542px 0;
}

.iti__flag.iti__my {
    background-position: -3564px 0;
}

.iti__flag.iti__mz {
    background-position: -3586px 0;
}

.iti__flag.iti__na {
    background-position: -3608px 0;
}

.iti__flag.iti__nc {
    background-position: -3630px 0;
}

.iti__flag.iti__ne {
    background-position: -3652px 0;
}

.iti__flag.iti__nf {
    background-position: -3674px 0;
}

.iti__flag.iti__ng {
    background-position: -3696px 0;
}

.iti__flag.iti__ni {
    background-position: -3718px 0;
}

.iti__flag.iti__nl {
    background-position: -3740px 0;
}

.iti__flag.iti__no {
    background-position: -3762px 0;
}

.iti__flag.iti__np {
    background-position: -3784px 0;
}

.iti__flag.iti__nr {
    background-position: -3806px 0;
}

.iti__flag.iti__nu {
    background-position: -3828px 0;
}

.iti__flag.iti__nz {
    background-position: -3850px 0;
}

.iti__flag.iti__om {
    background-position: -3872px 0;
}

.iti__flag.iti__pa {
    background-position: -3894px 0;
}

.iti__flag.iti__pe {
    background-position: -3916px 0;
}

.iti__flag.iti__pf {
    background-position: -3938px 0;
}

.iti__flag.iti__pg {
    background-position: -3960px 0;
}

.iti__flag.iti__ph {
    background-position: -3982px 0;
}

.iti__flag.iti__pk {
    background-position: -4004px 0;
}

.iti__flag.iti__pl {
    background-position: -4026px 0;
}

.iti__flag.iti__pm {
    background-position: -4048px 0;
}

.iti__flag.iti__pn {
    background-position: -4070px 0;
}

.iti__flag.iti__pr {
    background-position: -4092px 0;
}

.iti__flag.iti__ps {
    background-position: -4114px 0;
}

.iti__flag.iti__pt {
    background-position: -4136px 0;
}

.iti__flag.iti__pw {
    background-position: -4158px 0;
}

.iti__flag.iti__py {
    background-position: -4180px 0;
}

.iti__flag.iti__qa {
    background-position: -4202px 0;
}

.iti__flag.iti__re {
    background-position: -4224px 0;
}

.iti__flag.iti__ro {
    background-position: -4246px 0;
}

.iti__flag.iti__rs {
    background-position: -4268px 0;
}

.iti__flag.iti__ru {
    background-position: -4290px 0;
}

.iti__flag.iti__rw {
    background-position: -4312px 0;
}

.iti__flag.iti__sa {
    background-position: -4334px 0;
}

.iti__flag.iti__sb {
    background-position: -4356px 0;
}

.iti__flag.iti__sc {
    background-position: -4378px 0;
}

.iti__flag.iti__sd {
    background-position: -4400px 0;
}

.iti__flag.iti__se {
    background-position: -4422px 0;
}

.iti__flag.iti__sg {
    background-position: -4444px 0;
}

.iti__flag.iti__sh {
    background-position: -4466px 0;
}

.iti__flag.iti__si {
    background-position: -4488px 0;
}

.iti__flag.iti__sj {
    background-position: -4510px 0;
}

.iti__flag.iti__sk {
    background-position: -4532px 0;
}

.iti__flag.iti__sl {
    background-position: -4554px 0;
}

.iti__flag.iti__sm {
    background-position: -4576px 0;
}

.iti__flag.iti__sn {
    background-position: -4598px 0;
}

.iti__flag.iti__so {
    background-position: -4620px 0;
}

.iti__flag.iti__sr {
    background-position: -4642px 0;
}

.iti__flag.iti__ss {
    background-position: -4664px 0;
}

.iti__flag.iti__st {
    background-position: -4686px 0;
}

.iti__flag.iti__sv {
    background-position: -4708px 0;
}

.iti__flag.iti__sx {
    background-position: -4730px 0;
}

.iti__flag.iti__sy {
    background-position: -4752px 0;
}

.iti__flag.iti__sz {
    background-position: -4774px 0;
}

.iti__flag.iti__ta {
    background-position: -4796px 0;
}

.iti__flag.iti__tc {
    background-position: -4818px 0;
}

.iti__flag.iti__td {
    background-position: -4840px 0;
}

.iti__flag.iti__tf {
    background-position: -4862px 0;
}

.iti__flag.iti__tg {
    background-position: -4884px 0;
}

.iti__flag.iti__th {
    background-position: -4906px 0;
}

.iti__flag.iti__tj {
    background-position: -4928px 0;
}

.iti__flag.iti__tk {
    background-position: -4950px 0;
}

.iti__flag.iti__tl {
    background-position: -4972px 0;
}

.iti__flag.iti__tm {
    background-position: -4994px 0;
}

.iti__flag.iti__tn {
    background-position: -5016px 0;
}

.iti__flag.iti__to {
    background-position: -5038px 0;
}

.iti__flag.iti__tr {
    background-position: -5060px 0;
}

.iti__flag.iti__tt {
    background-position: -5082px 0;
}

.iti__flag.iti__tv {
    background-position: -5104px 0;
}

.iti__flag.iti__tw {
    background-position: -5126px 0;
}

.iti__flag.iti__tz {
    background-position: -5148px 0;
}

.iti__flag.iti__ua {
    background-position: -5170px 0;
}

.iti__flag.iti__ug {
    background-position: -5192px 0;
}

.iti__flag.iti__um {
    background-position: -5214px 0;
}

.iti__flag.iti__us {
    background-position: -5236px 0;
}

.iti__flag.iti__uy {
    background-position: -5258px 0;
}

.iti__flag.iti__uz {
    background-position: -5280px 0;
}

.iti__flag.iti__va {
    background-position: -5302px 0;
}

.iti__flag.iti__vc {
    background-position: -5324px 0;
}

.iti__flag.iti__ve {
    background-position: -5346px 0;
}

.iti__flag.iti__vg {
    background-position: -5368px 0;
}

.iti__flag.iti__vi {
    background-position: -5390px 0;
}

.iti__flag.iti__vn {
    background-position: -5412px 0;
}

.iti__flag.iti__vu {
    background-position: -5434px 0;
}

.iti__flag.iti__wf {
    background-position: -5456px 0;
}

.iti__flag.iti__ws {
    background-position: -5478px 0;
}

.iti__flag.iti__xk {
    background-position: -5500px 0;
}

.iti__flag.iti__ye {
    background-position: -5522px 0;
}

.iti__flag.iti__yt {
    background-position: -5544px 0;
}

.iti__flag.iti__za {
    background-position: -5566px 0;
}

.iti__flag.iti__zm {
    background-position: -5588px 0;
}

.iti__flag.iti__zw {
    background-position: -5610px 0;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("../img/flags@2x.png");
    }
} 